/* ===========================  Font Size Rem  =================================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@mixin FuturaRegular($size, $lineheight) {
  font-size: $size;
  line-height: $lineheight;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

@mixin FuturaMedium($size, $lineheight) {
  font-size: $size;
  line-height: $lineheight;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

/* ===========================  Appearance none  =================================== */
@mixin appearance_none {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* ===========================  Breakpoints =================================== */

@mixin full {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin lgl {
  @media (max-width: 1399.99px) and (min-width: 1250px) {
    @content;
  }
}
@mixin lg {
  @media (max-width: 1249.99px) {
    @content;
  }
}

@mixin mdl {
  @media (max-width: 1100px) {
    @content;
  }
}
@mixin md {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin xs {
  @media only screen and (max-width: 575.98px) {
    @content;
  }
}
@mixin break-360 {
  @media (max-width: 359px) {
    @content;
  }
}
