
/* =========  Colors Variable Start ========= */
$primary-color: #54718B;
$secondary-color: #3B76EF;
$title: #000000;
$primary-border: #e4e8eb;
$color-white: #ffffff;
$bg-white: #ffffff;
$primary-bg: #f5f6f9;
$success-bg: #6DD400;
$pending-text: #F03737;
$open-text: #287ec1;


/* ========= Box shadow ========= */ 
$box-shadow-light: 0 2px 4px 0 rgba(131,156,159,0.08);
$box-shadow-global: 4px 8px 24px 0 rgba(131,156,159,0.16);